body{
    padding:40px;
}

p{
    cursor: pointer;
    margin: 0px;
}

.list-group-item{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.complete {

text-decoration: line-through;

}