html,body{
    color:#fff;
    background-color:#21232A;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

button{
    font-size: 12px;
    margin-right: 10px;
    padding-right: 10px;
    
}